
@{
    ViewData["Title"] = "GetSessionValues";
}

<h1>GetSessionValues</h1>



@ViewBag.message
<br />
@ViewBag.Count
<br />
@ViewBag.date
<br />

<hr />
@ViewBag.emp.EmpId
<br />
@ViewBag.emp.EmpName
<br />
@ViewBag.emp.Salary